.banner-container {
    display: flex;
    flex-direction: column;
    background: url("../images/banner.png") center;
    background-size: cover;
    height: 576px;
    color: white;
}

.banner-container h1 {
    color: white;
    background-color: black;
    margin-bottom: 0;
}

.banner-container p {
    margin-top: 0;
}