.image-container{
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5%;
    float: left;
    padding: 2%;
}

.profile-body {
    max-width: 100%;
    width: 100%;
    padding: 0;
}

.username {
    font-weight: bold;
    font-size: 50px;
}

.backGroundColor-div{
    margin-bottom: 5%;
}

.modify-forms{
    float: right;
    width: 20%;
    margin-right: 53%;
}

.modify-forms input{
    width: 85%;
}

.delete_button{
    width: 93%;
}

.wishlist-item button {
    background: #007BFF;
    margin: 2.5% 0;
}

.wishlist-item button:hover {
    background: #0056b3;
}

.wishlist-container {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    gap: 63px;
    margin-left: 3%;
    padding-top: 0;
    width: 90%;
    justify-content: flex-start;
}

.wishlist-item {
    width: 100%;
    max-width: 20%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    transition: 0.2s;
}

.wishlist-item img {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.wishlist-item:hover {
    transform: scale(1.05); /* Slight zoom effect on hover */
}

.wishlist-form {
    margin-right: 3%;
    margin-left: 3%;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 30%;
    width: 285px;
    text-align: center;
    cursor: pointer;
}

.wishlist-form h2 {
    margin-top: 0;
}

.wishlist-form img {
    max-width: 10%;
    border-radius: 4px;
    margin-top: 10px;
}

.share-button {
    margin: 5% 0;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    padding: 6%;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 1rem;
}

.share-button:hover {
    background-color: #0056b3;

}

.delete_button{
    margin: 0;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.delete_button:hover{
    background-color: #0056b3;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 100px;
}

.modal-content {
    background-color: white;
    margin: auto;
    padding-right: 2%;
    padding-left: 1%;
    border: 1px solid #888;
    width: 60%;
    max-width: 600px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


form label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
    width: 100%;
}

form input {
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    width: 100%;
    padding: 12px;
}

form button {
    margin: 0;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #0056b3;
}

.create-new-item {
    cursor: pointer;
    text-align: center;
}






