.image-container{
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5%;
    float: left;
    padding: 2%;
}

.profile-body {
    max-width: 100%;
    width: 100%;
    padding: 0;
}

.username {
    font-weight: bold;
    font-size: 50px;
}



