.image-container{
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5%;
    float: left;
    padding: 2%;

}
.username{
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
    color: #233249; /* title font colour */
    padding: 6%;
    margin-left: 2%;
    font-size: 40px;
}
.profile_body{
    padding: 5%;
}
.backGroundColor-div{
    padding:0;
    width: 100%;
    display: flex;
    align-items: flex-start;
    margin-right: 2%;
    justify-content: space-between;
    background-color: rgba(100, 0, 0, 0.05); /* Lys grå baggrund */
}
h1{
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
    color: #233249; /* title font colour */
    padding-left: 5%;
    padding-right: 5%;
    white-space: nowrap;
}

#header {
    position: sticky;
    z-index: 100;
    top: 0;
}
.navbar {

    font-family: "Roboto Condensed", sans-serif;
    font-weight: bolder;
    font-size: 23px;
    display: flex;
    background-color: #5cae63;
}

.navbar img {
    max-width: 10%;
    height: 10%;
    display: flex;
}

.navbar a {
    font-size: inherit;
    font-weight: bolder;
    color: white;
    text-align: center;
    padding: 1% 1%;
    text-decoration: none;
    transition: background-color 0.3s ease; /* Add transition for hover effects */
}
.footerMainDiv{
    display: flex;
    width: 100%;
    background-color: #5cae63;
}
.button {
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.wishlist-container {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    justify-content: space-between; /* Space between items */
    gap: 20px; /* Space between wishlist items */
    margin: 20px;
}

.wishlist-item {
    width: calc(25% - 20px); /* 4 items per row (adjust the width to account for gaps) */
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-sizing: border-box;
    text-align: center;
    transition: transform 0.3s ease; /* Smooth transition on hover */
}

.wishlist-item img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.wishlist-item:hover {
    transform: scale(1.05); /* Slight zoom effect on hover */
}

.wishlist-item label {
    font-weight: bold;
}

.wishlist-item span {
    display: block;
    margin-bottom: 10px;
}

/* Responsive Design */
@media (max-width: 1200px) {
    .wishlist-item {
        width: calc(33.33% - 20px); /* 3 items per row for medium screens */
    }
}

@media (max-width: 768px) {
    .wishlist-item {
        width: calc(50% - 20px); /* 2 items per row for small screens */
    }
}

@media (max-width: 480px) {
    .wishlist-item {
        width: 100%; /* 1 item per row for very small screens */
    }
}
