body {
    font-family: "Roboto", sans-serif;
    font-weight: lighter;
    font-size: 20px;
    background-color: rgb(249, 249, 249);
    margin: 0;
    padding: 0;
}
body p {
    margin-left: 5%;
    margin-right: 5%;
}

body a {
    text-decoration: none;
    font-weight: bold;
    color: #233249;
    transition: color 0.2s ease;
}

body a:hover {
    color: rgb(072, 121, 057);
}

h1, h2 {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
    color: #233249; /* title font colour */
    padding-left: 5%;
    padding-right: 5%;
}

#header {
    position: sticky;
    z-index: 100;
    top: 0;
}
.navbar {

    font-family: "Roboto Condensed", sans-serif;
    font-weight: bolder;
    font-size: 23px;
    display: flex;
    background-color: #5cae63;
}

.navbar img {
    max-width: 10%;
    height: 10%;
    display: flex;
}

.navbar a {
    font-size: inherit;
    font-weight: bolder;
    color: white;
    text-align: center;
    padding: 1% 1%;
    text-decoration: none;
    transition: background-color 0.3s ease; /* Add transition for hover effects */
}

#banner {
    width: 100%;
    object-fit: fill;
}

/* footer */
.footerMainDiv{
    display: flex;
    width: 100%;
    background-color: #5cae63;
}
.btnBox{
    display: flex;
}


#extra-padding-left{
    padding-left: 5%;
}

#center{
    text-align: center;
    padding-bottom: 1%;
    padding-left: 5%;
}
.backGroundColor-div{
    padding: 3.33% 0;
    width: 100%;
    display: flex;
    align-items: flex-start;
    margin-right: 2%;
    justify-content: space-between;
    background-color: rgba(100, 0, 0, 0.05); /* Lys grå baggrund */
}

