body {
    font-family: "Roboto", sans-serif;
    font-weight: lighter;
    font-size: 20px;
    background-color: #F9F9F9;
    margin: 0;
    padding: 0;
}

body p {
    margin-left: 5%;
    margin-right: 5%;
}

.body-text {
    background: inherit;
}

.body-text:nth-child(odd) {
    padding: 2% 0;
    background-color: rgba(0, 0, 0, 0.05); /* Lys grå baggrund */
}

body a {
    text-decoration: none;
    font-weight: bold;
    color: #233249;
    transition: color 0.2s ease;
}

body a:hover {
    color: #0097a7;
    transition: 0.2s ease;
}

h1, h2 {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
    color: #233249; /* title font colour */
    padding-left: 5%;
    padding-right: 5%;
}

.navbar-blank-box{
    padding-bottom: 70px;
}

.logo {
    display: flex;
    margin: auto;
    margin-left: 50px;
}

.logo img {
    height: 50px;
}

#header-default, #header-logged-in {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
}

.navbar {
    height: 70px;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bolder;
    font-size: 23px;
    display: flex;
    background-color: white;
}

.navbar a {
    font-size: inherit;
    font-weight: bolder;
    color: #233249;
    text-align: center;
    padding: 1% 1%;
    text-decoration: none;
    transition: background-color 0.3s ease; /* Add transition for hover effects */
}

.clickable {
    display: flex;
    margin: 0 24px 0 auto;
}

.clickable a {
    padding: 0 10px;
}

.link-container {
    display: flex;
    margin: auto;
    margin-right: 10px;
    padding-right: 10px;
}

.button-container {
    display: flex;
    margin: 10px 33px 10px 0;
}

.clickable button{
    height: 40px;
    padding: 0 15px;
    margin: 5px;
    outline: none;
    border: none;
    font-size: 1rem;
    color: #fff;
    background: #00bcd4;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.2s ease;
}

.clickable button:hover {
    background: #0097a7;
}

.navbar a.navbar-link-btn {
    height: 40px;
    font-size: 1rem;
    font-weight: lighter;
    color: #fff;
    background: #00bcd4;
    border-radius: 3px;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    margin: 5px;
}

.navbar a.navbar-link-btn:hover {
    background-color: #0097a7;
}

.blur-bg-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    backdrop-filter: blur(5px);
    transition: 0.1s ease;
}

.show-popup .blur-bg-overlay {
    opacity: 1;
    pointer-events: auto;
}

.form-container  {
    position: fixed;
    top: 50%;
    left: 50%;
    max-width: 720px;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    background: #FFF;
    /*border: 2px solid #FFF;*/
    transform: translate(-50%, -100%);
}

.show-popup .form-container {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease, opacity 0.1s;
}

.form-container .close-btn {
    position: absolute;
    top: 12px;
    right: 12px;
    color: #878484;
    cursor: pointer;
}

.form-container .form-box {
    display: flex;
}

.form-box .form-details {
    max-width: 330px;
    width: 100%;
    color: #fff;
    display: flex;
    padding: 0 20px;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login .form-details {
    background: url("../images/signup.png") center;
    background-size: cover;
}

.signup .form-details {
    background: url("../images/login.png") center;
    background-size: cover;
}

.form-box h2 {
    text-align: center;
    margin-bottom: 30px;
}

.form-box .form-content {
    width: 100%;
    padding: 35px;
}

form .input-field {
    height: 50px;
    width: 100%;
    margin-top: 20px;
    position: relative;
}

form .input-field input {
    width: 100%;
    height: 100%;
    outline: none;
    /*padding: 0 15px;*/
    font-size: 0.95rem;
    border-radius: 3px;
    border: 1px solid #717171;
}

.input-field input:focus {
    border-color: #00bcd4;
}

.input-field input:is(:focus, :valid) {
    padding: 16px 15px 0;
}

form .input-field label {
    position: absolute;
    top: 50%;
    left: 15px;
    color: #717171;
    pointer-events: none;
    transform: translateY(-50%);
    transition: 0.2s ease;
}

.input-field input:is(:focus, :valid) ~ label {
    color: #00bcd4;
    font-size: 0.75rem;
    transform: translateY(-120%);
}

.form-box a {
    color: #00bcd4;
    text-decoration: none;
}

.form-box a:hover {
    text-decoration: underline;
}

.form-box :where(.forgot-password, .policy-text) {
    display: inline-flex;
    margin-top: 14px;
    font-size: 0.95rem;
}

form button {
    width: 100%;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    padding: 14px 0;
    border-radius: 3px;
    margin: 25px 0;
    color: #fff;
    background: #00bcd4;
    cursor: pointer;
    transition: 0.2s ease;
}

form button:hover {
    background: #0097a7;
}

.form-box .bottom-link {
    text-align: center;
}

.form-container .signup,
.form-container.show-signup .login {
    display: none;
}

.form-container.show-signup .signup {
    display: flex;
}

.signup.policy-text {
    display: flex;
    align-items: center;
}

.signup.policy-text input {
    width: 14px;
    height: 14px;
    margin-right: 7px;
}

@media (max-width: 760px) {
    .form-container {
        width: 95%;
    }

    .form-box .form-details {
        display: none;
    }

    .form-box .form-content {
        padding: 30px 20px;
    }
}

/*Start footer styling */
.footerMainDiv{
    display: flex;
    width: 100%;
    background-color: #00bcd4;
}

.column{
    background-color: inherit;
    text-align: left;
    flex: 1;
    color: white;
    padding-top: 1%;
    max-width: 100%;
}

.column h2{
    padding-left: 5%;
}

.column p{
    margin: 5%;
    margin-top: 1%;
    width: 100%;
}

.column img{
    width: 100%;
    height: auto;
    padding-left: 10%
}

.socials-column{
    background-color: inherit;
    flex: 1;
    max-width: 100%;
    padding-left: 7%;
    padding-top: 3%;
}

.socials-column-row{
    align-items: center;
    display: flex;
    max-width: 100%;
    justify-content: center;
}

.socials-column-text-box{
    padding-top: 0;
    text-align: center;
    padding-right: 5%;
}

.socials-column-text-box h1{
    font-size: 20px;
}

.image-container-socials{
    width: 100%;
    flex: 1;
    align-items: center;
}

.image-container-socials img{
    width: 80%;
    transition: all 0.3s ease;
}

.image-container-socials:hover {
    transform: scale(1.125);
}

.image-container-socials:hover p {
    position: relative;
    top: 5%;
}

.image-container-socials:hover img{
    position: relative;
    top: 5%;
    transform: scale(1.25);
}

.last-column{
    padding-top: 3%;
    background-color: inherit;
    color: white;
    padding-left: 10%;
    flex: 1;
    text-align: left;
    display: block;
}

.last-column h2{
    font-size: 20px;
}

.last-column h1{
    font-size: 18px;
}

.last-column p{
    margin-left: 3%;
}

#extra-padding-left{
    padding-left: 5%;
}

#padding-for-volunteer-image{
    padding-top: 5%;
}

#center{
    text-align: center;
    padding-bottom: 1%;
    padding-left: 5%;
}
