.wish-container {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    justify-content: flex-start; /* Space between items */
    gap: 20px; /* Space between wishlist items */
    margin: 20px;

.square{
    width: 100%;
    max-width: 20%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

}

.wish-image-container{
    max-width: 100%;
}

.label-create{
    width: 200px;
    text-align: left;
    float: left;
    padding-top: 10px;
}
input{
    display: inline-block;
    float: left;
    margin-right: auto;
    border-radius: 3px;
    border: 1px solid #717171;
    font-size: 0.95rem;
    padding-top: 10px;
    padding-bottom: 10px;

}
.form-box{
    padding: 10%;
}
input .input-field {
    height: 50px;
    width: 100%;
    margin-top: 20px;
    position: relative;
}

.wishForm {
    margin-right: 3%;
    margin-left: 3%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 30%;
    width: 285px;
    text-align: center;
    cursor: pointer;
}
.wishForm h2 {
    margin-top: 0;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 100px;
}

.modal-content {
    background-color: white;
    margin: auto;
    padding-right: 2%;
    padding-left: 1%;
    border: 1px solid #888;
    width: 60%;
    max-width: 600px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.wishForm img {
    max-width: 10%;
    border-radius: 4px;
    margin-top: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}