/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.all-wishes {
    display: flex;
    gap: 20px;
    padding: 20px;
    align-items: start;
}

.wishlist-container{
    flex: 1;
    max-width: 50%;
}

.wishlist-container img{
    max-width: 10%;
}

/* Wishlist Form Styles */
.wishlistForm {
    flex: 1;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 30%;
    text-align: center;
    cursor: pointer;
}

.wishlistForm h2 {
    margin-top: 0;
}

.wishlistForm img {
    max-width: 10%;
    border-radius: 4px;
    margin-top: 10px;
}

.wishlist-container{
    flex: 1;
    max-width: 10%;
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 30%;
    height: 30%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal:hover{
    transform: scale(10%);
}

.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border-radius: 8px;
    width: 30%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Form Styles */
#wishlistDetailsForm label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

#wishlistDetailsForm input[type="text"],
#wishlistDetailsForm input[type="date"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#wishlistDetailsForm button {
    background-color: #007BFF;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#wishlistDetailsForm button:hover {
    background-color: #0056b3;
}
