<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<!-- Header -->
<div th:fragment="header">
    <div class="navbar">
        <a id="HomePage" th:href="@{/}">Home</a>
        <a id="Profile" th:href="@{/profile}">Profile</a>
        <a id="Login" th:href="@{/login}">Login</a>
        <a id="Create Account" th:href="@{/registration}">Create Account</a>

        <nav>

    </nav>

    </div>
</div>

<div th:fragment="test">Test Fragment Works!</div>

<!-- Footer  -->
<div th:fragment="footer">
    <div class="footerMainDiv">
        <div>hello world</div>
    </div>

</div>
</body>
</html>