<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="https://fonts.bunny.net/css?family=poppins:900|roboto:300,700|roboto-condensed:400,700" rel="stylesheet" />
</head>
<body>

<!-- Filen bruges til at implementere header og footer vha. Thymeleaf -->

<!-- Header for when not logged in -->
<div id="navbar" th:fragment="navbar">
    <div th:if="${session.loggedInUser}==null" id="header-default" th:fragment="headerNotLoggedIn">
        <div class="navbar">
            <div class="logo">
            </div>
            <div class="clickable">
                <div class="link-container">
                    <a id="HomePage" th:href="@{/}">FORSIDE</a>
                </div>
                <div class="button-container">
                    <button class="login-btn">LOG IND</button>
                    <button class="signup-btn">OPRET</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Header for when logged in -->
    <div th:if="${session.loggedInUser}!=null" id="header-logged-in" th:fragment="headerLoggedIn">
        <div class="navbar">
            <div class="logo">
            </div>
            <div class="clickable">
                <div class="link-container">
                    <a id="Home Page" th:href="@{/}">FORSIDE</a>
                    <a id="Wishlists" th:href="@{/wishlist}">ØNSKELISTER</a>
                </div>
                <div class="button-container">
                    <a class="profile-btn" th:href="@{/Profile}">PROFIL</a>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar-blank-box"></div>
</div>

<!-- Login popup -->
<div th:fragment="form-popup">
    <div class="blur-bg-overlay"></div>
    <div class="form-container">
    <span class="close-btn material-symbols-rounded">close</span>
        <div class="form-box login">
            <div class="form-details">
                <h2>Velkommen Tilbage</h2>
                <p>Log venligst ind med din data</p>
            </div>
            <div class="form-content">
                <h2>Log ind</h2>
                <form class="form-popup" th:action="@{/login}" method="post">
                    <div class="input-field">
                        <input class="input" type="text" id="login-email" name="login-email" required>
                        <label for="login-email">E-mail</label>
                    </div>
                    <div class="input-field">
                        <input class="input" type="password" id="login-password" name="login-password" required>
                        <label for="login-password">Kodeord</label>
                    </div>
                    <a href="#" class="forgot-password">Glemt kodeord?</a>
                    <button class="button" type="submit">Log ind</button>
                </form>
                <div class="bottom-link">
                    Har du ikke en bruger?
                    <a th:href="@{/#}" id="signup-link">Registrer dig her</a>
                </div>
            </div>
        </div>
        <div class="form-box signup">
            <div class="form-details">
                <h2>Opret en bruger</h2>
                <p>Lav venligt en ny bruger</p>
            </div>
            <div class="form-content">
                <h2>Log ind</h2>
                <form class="form-popup" th:action="@{/getCreateUser}" method="post">
                    <div class="input-field">
                        <input class="input" type="text" id="create-email" name="create-email" required>
                        <label for="create-email">Indtast e-mail</label>
                    </div>
                    <div class="input-field">
                        <input class="input" type="text" id="create-name" name="create-name" required>
                        <label for="create-name">Indtast navn</label>
                    </div>
                    <div class="input-field">
                        <input class="input" type="password" id="create-password" name="create-password" required>
                        <label for="create-password">Opret kodeord</label>
                    </div>
                    <div class="policy-text">
                        <input type="checkbox" id="policy">
                        <label for="policy">
                            Jeg er enig med
                            <a href="#">betingelsesvilkårene</a>
                        </label>
                    </div>
                    <button class="button" type="submit">Registrer bruger</button>
                </form>
                <div class="bottom-link">
                    Har du allerede en bruger?
                    <a th:href="@{/register}" id="login-link">Log ind her</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:fragment="test">Test Fragment Works!</div>

<!-- Footer  -->
<div th:fragment="footer">
    <div class="footerMainDiv">
        <div>hello world</div>
    </div>
</div>
</body>
</html>