<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>

<!-- Header -->
<div th:fragment="header">
    <div class="navbar">
        <a id="HomePage" href="HomePage.html">Home</a>
        <a id="Profile" href="Profile.html">Profile</a>
        <a id="Login" href="Login.html">Login</a>
        <a id="Create Account" href="CreateAcc.html">Create Account</a>


    </div>
</div>

<!-- Footer  -->
<div th:fragment="footer">
    <div class="footerMainDiv">
        <div>hello world</div>
    </div>

</div>
</body>
</html>