<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<!-- Filen bruges til at implementere header og footer vha. Thymeleaf -->

<!-- Header for when not logged in -->
<div th:fragment="headerNotLoggedIn">
    <div class="navbar">
        <a id="HomePage" th:href="@{/}">Home</a>
        <a id="Login" th:href="@{/login}">Login</a>
        <a id="Create Account" th:href="@{/register}">Create Account</a>
        <nav>
    </nav>
    </div>
</div>
<!-- Header for when logged in -->
<div th:fragment="headerLoggedIn">
    <div class="navbar">
        <a id="Home Page" th:href="@{/}">Home</a>
        <a id="Profile" th:href="@{/profile}">Profile</a>
    </div>
</div>

<div th:fragment="test">Test Fragment Works!</div>

<!-- Footer  -->
<div th:fragment="footer">
    <div class="footerMainDiv">
        <div>hello world</div>
    </div>

</div>
</body>
</html>