<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="https://fonts.bunny.net/css?family=poppins:900|roboto:300,700|roboto-condensed:400,700" rel="stylesheet" />
</head>
<body>

<!-- Filen bruges til at implementere header og footer vha. Thymeleaf -->

<!-- Header for when not logged in -->
<div id="navbar" th:fragment="navbar">
    <div th:if="${session.loggedInUser}==null" id="header-default" th:fragment="headerNotLoggedIn">
        <div class="navbar">
            <div class="logo">
                <img src="/images/wishify-text-logo.png" alt="wishify logo">
            </div>
            <div class="clickable">
                <div class="link-container">
                    <a id="HomePage" th:href="@{/}">FORSIDE</a>
                </div>
                <div class="button-container">
                    <button class="login-btn">LOG IND</button>
                    <button class="signup-btn">OPRET</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Header for when logged in -->
    <div th:if="${session.loggedInUser}!=null" id="header-logged-in" th:fragment="headerLoggedIn">
        <div class="navbar">
            <div class="logo">
                <img src="/images/wishify-text-logo.png" alt="wishify logo">
            </div>
            <div class="clickable">
                <div class="link-container">
                    <a id="Home Page" th:href="@{/}">FORSIDE</a>
                    <a id="Wishlists" th:href="@{/wishlist}">ØNSKELISTER</a>
                </div>
                <div class="button-container">
                    <a class="navbar-link-btn" th:href="@{/Profile}">PROFIL</a>
                    <a class="navbar-link-btn" th:href="@{/logout}">LOG UD</a>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar-blank-box"></div>
</div>

<!-- Login popup -->
<div th:fragment="form-popup">
    <div class="blur-bg-overlay"></div>
    <div class="form-container">
    <span class="close-btn material-symbols-rounded">&times;</span>
        <div class="form-box login">
            <div class="form-details">
                <h2>Velkommen Tilbage</h2>
                <p>Log venligst ind med din data</p>
            </div>
            <div class="form-content">
                <h2>Log ind</h2>
                <form class="form-popup" th:action="@{/login}" method="post">

                    <div th:if="${error}">
                        <p th:text="${error}"></p>
                    </div>

                    <div class="input-field">
                        <input class="input" type="text" id="login-email" name="login-email" required>
                        <label for="login-email">E-mail</label>
                    </div>
                    <div class="input-field">
                        <input class="input" type="password" id="login-password" name="login-password" required>
                        <label for="login-password">Kodeord</label>
                    </div>
                    <a href="#" class="forgot-password">Glemt kodeord?</a>
                    <button class="button" type="submit">Log ind</button>
                </form>
                <div class="bottom-link">
                    Har du ikke en bruger?
                    <a th:href="@{/#}" id="signup-link">Registrer dig her</a>
                </div>
            </div>
        </div>
        <div class="form-box signup">
            <div class="form-details">
                <h2>Opret en bruger</h2>
                <p>Lav venligt en ny bruger</p>
            </div>
            <div class="form-content">
                <h2>Log ind</h2>
                <form class="form-popup" th:action="@{/getCreateUser}" method="post">

                    <div th:if="${registrationError}">
                        <p th:text="${registrationError}"></p>
                    </div>

                    <div class="input-field">
                        <input class="input" type="text" id="create-email" name="create-email" required>
                        <label for="create-email">Indtast e-mail</label>
                    </div>
                    <div class="input-field">
                        <input class="input" type="text" id="create-name" name="create-name" required>
                        <label for="create-name">Indtast navn</label>
                    </div>
                    <div class="input-field">
                        <input class="input" type="password" id="create-password" name="create-password" required>
                        <label for="create-password">Opret kodeord</label>
                    </div>
                    <div class="policy-text">
                        <input type="checkbox" id="policy">
                        <label for="policy">
                            Jeg er enig med
                            <a href="https://youtu.be/dQw4w9WgXcQ?si=pM8JZ_PQvq3KYev5">betingelsesvilkårene</a>
                        </label>
                    </div>
                    <button class="button" type="submit">Registrer bruger</button>
                </form>
                <div class="bottom-link">
                    Har du allerede en bruger?
                    <a th:href="@{/register}" id="login-link">Log ind her</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:fragment="test">Test Fragment Works!</div>

<!-- Footer  -->
<div th:fragment="footer">
    <div class="footerMainDiv">
        <div class="column">
            <h2>Kort om os</h2>
            <p>
                Hos Wishify er vi dedikeret til at gøre gavegivning lettere, sjovere og mere personlig.
                Inspireret af den populære idé om "Ønskeskyen", har vi skabt en platform, hvor du kan samle alle dine ønsker ét sted,
                så både du og dine nærmeste kan finde præcis, hvad der passer til den store dag – uanset om det er fødselsdage,
                jul eller andre særlige anledninger..
            </p>
        </div>
        <div id="center" class="column">
            <a th:href="@{/#}"> Start din rejse her! </a>
            <img id="dog-img" src="/images/Blågave.jpg" alt="doggy">
        </div>
        <div class="socials-column">
        <div class="socials-column-row">
            <a href="https://www.facebook.com/" target="_blank">
                <div class="image-container-socials">
                    <img src="/images/image%20footer/fb.png">
                </div>
            </a>

            <a href="https://www.instagram.com/" target="_blank">
                <div class="image-container-socials">
                    <img src="/images/image%20footer/insta.png">
                </div>
            </a>


            <a href="https://www.tiktok.com/" target="_blank">
                <div class="image-container-socials">
                    <img src="/images/image%20footer/tiktok.png">
                </div>
            </a>
        </div>


        <div class="socials-column-row">
            <a href="https://youtube.com/" target="_blank">
                <div class="image-container-socials">
                    <img src="/images/image%20footer/youtube.png">
                </div>
            </a>


            <a href="https://x.com/" target="_blank">
                <div class="image-container-socials">
                    <img src="/images/image%20footer/x.png">
                </div>
            </a>


            <a href="https://linkedin.com/" target="_blank">
                <div class="image-container-socials">
                    <img src="/images/image%20footer/linkedin.png">
                </div>
            </a>
        </div>

        <div class="socials-column-row">
            <a href="https://github.com/itsHarning/Projekt3_Gruppe_3" target="_blank">
                <div class="image-container-socials">
                    <img src="/images/image%20footer/github.png">
                </div>
            </a>


            <a href="https://bsky.app/" target="_blank">
                <div class="image-container-socials">
                    <img src="/images/image%20footer/bluesky.png">
                </div>
            </a>


            <a href="https://whatsapp.com/" target="_blank">
                <div class="image-container-socials">
                    <img src="/images/image%20footer/whatsapp.png">
                </div>
            </a>
            </div>
        </div>


        <div class="last-column">
            <h2> Kontakt os </h2>
            <h1> Wishify ApS </h1>
            <h1> Tlf: 69 69 69 69 </h1>
            <h1> E-mail: info@wishify.dk </h1>
            <p> Guldbergsgade 29N </p>
            <p> 2200 København N </p>
            <p> CVR: 420 1337 </p>
        </div>
    </div>
    </div>
</body>
</html>