<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.bunny.net/css?family=poppins:900|roboto:300,700|roboto-condensed:400,700" rel="stylesheet" />
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<div class="navbar">
    <a id="HomePage" href="HomePage.html">Home</a>
    <a id="Profile" href="Profile.html">Profile</a>
    <a id="Login" href="Login.html">Login</a>
    <a id="Create Account" href="CreateAcc.html">Create Account</a>


</div>
