<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Velkommen til Wishify</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/indexStyle.css}" rel="stylesheet">
    <script type="text/javascript" th:src="@{/script.js}" defer></script>
</head>
<body>
<header th:replace="~{fragments.html :: navbar}"> </header>

<!-- popup form -->
<div th:replace="~{fragments.html :: form-popup}"></div>

<div class="banner-container">
    <h1>Velkommen til Wishify – Din personlige ønskeliste!</h1>
    <p>
        Wishify er dit all-in-one værktøj til at gemme og dele ønsker med familie og venner
    </p>
</div>

<div class="body-text">
    <p>
        Med Wishify kan du nemt samle, organisere og dele dine ønsker til enhver anledning – uanset om det er fødselsdag, jul, bryllup eller en anden særlig begivenhed.

        Sådan fungerer det: <br>
        <br>
        ✅ Opret din ønskeliste – Tilføj dine ønsker fra enhver butik, både online og fysisk. <br>
        ✅ Personliggør din liste – Tilføj beskrivelser, billeder og links, så dine ønsker er nemme at finde. <br>
        ✅ Del med familie og venner – Send din liste via e-mail, sociale medier eller en direkte link.<br>
        ✅ Undgå dubletter – Gæster kan reservere gaver, så du ikke får det samme to gange. <br>
        ✅ Opdater når som helst – Tilføj, fjern eller rediger dine ønsker, når du vil. <br> <br>


        Vores platform gør det nemt og sjovt at holde styr på dine ønsker, så du altid får gaver, du virkelig ønsker dig! Opret din ønskeliste i dag og gør gavegivning enklere for alle.
    </p>
</div>

<div class="body-text">
    <p>
        Hos Wishify tror vi på, at gavegivning skal være både sjovt og nemt. Vi ved, hvor frustrerende det kan være at finde den perfekte gave til en, du holder af. Derfor har vi skabt en platform, hvor du kan samle alle dine ønsker ét sted, så både du og dine nærmeste nemt kan finde de gaver, der virkelig betyder noget.
    </p>

    <p>
        Vores platform er designet til at være brugervenlig og fleksibel. Det er ikke kun et sted at opbevare dine ønsker, men også et redskab, der gør det muligt at tilpasse din ønskeliste, dele den med andre og sikre, at du aldrig modtager en gave, du allerede har fået. Vi gør gavegivning mere effektiv og personlig, så både gavegiver og modtager får den bedste oplevelse.
    </p>

    <p>
        Uanset om du er på udkig efter noget særligt til dig selv, eller du vil hjælpe andre med at finde den perfekte gave, er Wishify den ideelle løsning. Opret din ønskeliste i dag og oplev, hvordan gavegivning kan blive endnu lettere og mere glædeligt.
    </p>
</div>

<div id="footer"></div>
</body>
</html>