<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <!--
    <link href="../static/css/layout.css" th:href="@{/css/layout.css}" rel="stylesheet">
    -->


</head>
<body>
<div class="login-container">

    <form class="form1" th:action="@{/login}" method="post">
        <input class="input1" type="text" id="login-email" name="login-email" placeholder="Email" required><br>
        <input class="input1" type="password" id="login-password" name="login-password" placeholder="Kodeord"  required><br>
        <button class="button1" type="submit">Login</button>
    </form>

    <div class="login-footer">
        <p>Har du ikke en bruger? <a th:href="@{/register}">Registrer dig her</a></p>
    </div>
</div>
</body>

</html>