<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="login-container">

    <form class="form1" th:action="@{/login}" method="post">
        <input class="input1" type="text" id="email" name="email" placeholder="Email" required><br>
        <input class="input1" type="password" id="password" name="password" placeholder="Kodeord"  required><br>
        <button class="button1" type="submit">Login</button>
    </form>

    <div class="login-footer">
        <p>Har du ikke en bruger? <a th:href="@{/register}">Registrer dig her</a></p>
    </div>
</div>
</body>

</html>