<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Wishes</title>
</head>

<!-- Mangler styling og oprettelse af div klasser!-->

<body>
<div class="container">
  <div class="wishlist-description-container">
    <div>
      <label></label>
      <span th:text="${wishList.getName()}">Navn på ønskeliste</span>
    </div>
    <img th:src="@{'/img/' + ${wishList.getImage()}}" alt="Wishlist Image" />
  </div>

  <div class="wish-container">
  <div class="square" th:each="wish :${wishes}">
    <img th:src="@{'/img/' + ${wish.image}}" alt="Placeholder.jpg" />
    <div>
      <label>Produktnavn:</label>
      <span th:text="${wish.wishName}">Produktnavn</span>
    </div>

    <div>
      <label>Beskrivelse:</label>
      <span th:text="${wish.description}">Beskrivelse</span>
    </div>

    <div>
      <label>Pris:</label>
      <span th:text="${wish.price}">Pris</span>
    </div>

    <div>
      <label>Antal:</label>
      <span th:text="${wish.quantity}">Antal</span>
    </div>

  </div>

</div>
  <a th:href="@{/}">Tilbage</a>
</div>
</body>
</html>