<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>HomePage</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div th:replace="~{Fragments :: headerLoggedIn}"></div>

<h1> Velkommen til Wishify – Din personlige ønskeliste! </h1>

<p>

    Med Wishify kan du nemt samle, organisere og dele dine ønsker til enhver anledning – uanset om det er fødselsdag, jul, bryllup eller en anden særlig begivenhed.

    Sådan fungerer det: <br>
    <br>
    ✅ Opret din ønskeliste – Tilføj dine ønsker fra enhver butik, både online og fysisk. <br>
    ✅ Personliggør din liste – Tilføj beskrivelser, billeder og links, så dine ønsker er nemme at finde. <br>
    ✅ Del med familie og venner – Send din liste via e-mail, sociale medier eller en direkte link.<br>
    ✅ Undgå dubletter – Gæster kan reservere gaver, så du ikke får det samme to gange. <br>
    ✅ Opdater når som helst – Tilføj, fjern eller rediger dine ønsker, når du vil. <br> <br>


    Vores platform gør det nemt og sjovt at holde styr på dine ønsker, så du altid får gaver, du virkelig ønsker dig! Opret din ønskeliste i dag og gør gavegivning enklere for alle.</p>

<div class="backGroundColor-div">
    <h2> Opret din ønskeliste nu!</h2>
    <br>
    <p>
       <button>
        <a id="Create Account" style="white-space: nowrap" href="CreateAcc.html">Create Account</a>
</button>
    </p>
</div>





<div th:replace="~{Fragments :: footer}"></div>


</body>
</html>