<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>

    <link rel="stylesheet" href="/css/profile.css">
    <link rel="stylesheet" href="/css/style.css">

</head>

<body class="profile">


    <header th:replace="fragments.html :: headerLoggedIn"> </header>

    <h1>Velkommen til din ønskeliste</h1>

    <div>
        <img class="image-container"  th:src="@{'/images/' + ${profilePicture}}" alt="Profile Picture">
        <div class="username" th:text="${username}"></div>
    </div>

    <br>
    <div class="backGroundColor-div">
        <div class="profile_body">
            <h1>Mine ønskelister</h1>
        </div>
        <div class="wishlist-container">
            <div class th:each="wishlist :${wishlists}">
                <form th:action="@{/getWishlist}" method="get">
                    <button type="submit">
                        <img th:src="@{'/img/' + ${wishlist.image}}" alt="Wish image">

                        <label>Wishlist id:</label>
                        <span th:text="${wishlist.listId}">ID</span>

                        <div>
                            <label>Wishlist name:</label>
                            <span th:text="${wishlist.name}">Navn:</span>
                        </div>

                        <div>
                            <label>Description:</label>
                            <span th:text="${wishlist.description}">Description</span>
                        </div>

                        <div>
                            <label>Last updated:</label>
                            <span th:text="${wishlist.lastUpdated}">last updated</span>
                        </div>


                    </button>

                </form>


            </div>

            <div class="popup-content">
                <span id="closeBtn" class="close-btn"></span>
                <h2>Create wishlist</h2>
                <form class="wishlistForm" th:action="@{/saveUpdateWishList}" method="post">

                    <label for="name">Wishlist name</label>
                    <input type="text" id="name" name="name" placeholder="Enter wishlisht name" required>

                    <label for="description">Description</label>
                    <input type="text" id="description" name="description" placeholder="Enter description" required>

                    <label for="updatedAt">updatedAt</label>
                    <input type="date" id="updatedAt" name="updatedAt" placeholder="Enter date" required>

                    <label for="img">Image</label>
                    <input type="text" id="img" name="img" placeholder="choose image" required>

                    <button type="submit">Create wishlist</button>

                </form>
            </div>

            </div>
        </div>
    <!--
    <div class="backGroundColor-div" th:each="Wishlist:${user}">
        <span th:text="${Wishlist}"></span>



    </div>
    -->

</body>

</html>