<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="stylesheet" href="/css/style.css">

</head>
<body class="profile">
    <header th:replace="Fragments.html :: headerLoggedIn"> </header>

    <h1>Velkommen til din ønskeliste</h1>

    <div>
        <img class="image-container" src="/images/Placeholder.jpg" alt="Placeholder.jpg">
        <div class="username" th:text="${username}"></div>
    </div>

    <br>
    <div class="backGroundColor-div">
        <div class="profile_body">
            <h1>Mine ønskelister</h1>
        </div>
        <div class="wishlist-container">
            <div th:each="wishlist :${wishlists}">
                <img th:src="@{'/img/' + ${wishlist.image}}" alt="Car image">

                <div>
                    <label>Wishlist name:</label>
                    <span th:text="${wishlist.name}">Navn:</span>
                </div>

                <div>
                    <label>Description:</label>
                    <span th:text="${wishlist.description}">Description</span>
                </div>

                <div>
                    <label>Price:</label>
                    <span th:text="${wishlist.price}">Price</span>
                </div>

                <div>
                    <label>Last updated:</label>
                    <span th:text="${wishlist.lastUpdated}">Last updated</span>
                </div>

            </div>
        </div>
    </div>
    <!--
    <div class="backGroundColor-div" th:each="Wishlist:${user}">
        <span th:text="${Wishlist}"></span>



    </div>
    -->

</body>

</html>