<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Wishes</title>
</head>
<body>
<header th:replace="~{fragments.html :: navbar}"> </header>
<div class="container">
  <div class="wishlist-description-container">
    <div>
      <label></label>
      <span th:text="${wishList.name}">Navn på ønskeliste</span>
    </div>
    <div class="wishlist-image-container">
      <img src="/images/gave.jpg" alt="Placeholder.jpg" />
    </div>
  </div>

  <div class="wish-container">
  <div class="square" th:each="wish :${wishes}">

    <img th:src="@{'/images/' + ${wish.image}}" alt="Placeholder.jpg" />
    <div>
      <label>Produktnavn:</label>
      <span th:text="${wish.wishName}">Produktnavn</span>
    </div>

    <div>
      <label>Beskrivelse:</label>
      <span th:text="${wish.description}">Beskrivelse</span>
    </div>

    <div>
      <label>Pris:</label>
      <span th:text="${wish.price}">Pris</span>
    </div>

    <div>
      <label>Antal:</label>
      <span th:text="${wish.quantity}">Antal</span>
    </div>

    <div>
      <span th:text="${wish.bookedStatus == 1 ? 'Reserveret af: ' + wish.bookedBy : 'Ikke reserveret'}"></span>
    </div>

    <div th:if="${wish.bookedStatus != 1}">
      <form th:action="@{/reserveWish}" method="post">
        <input type="hidden" name="wish_id" th:value="${wish.wishId}" />
        <input type="hidden" name="list_id" th:value="${wishList.listId}" />
        <input type="text" name="booked_by" placeholder="Dit navn" required />
        <button type="submit">Reserver ønske!</button>
      </form>
    </div>
  </div>
</div>

  <a th:href="@{/}">Tilbage</a>
</div>
</body>
<div th:replace="~{fragments.html :: footer}"></div>>
</html>