<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Brugervilkår</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css.termsStyle.css}" rel="stylesheet">
</head>
<body>
<header th:replace="~{fragments.html :: navbar}"> </header>

<div class="big-container">
    <div class="small-container">
        <h2>Brugervilkår</h2>

        <h2>1. BRUGERBETINGELSER</h2>
        <p>Disse brugerbetingelser anses for accepteret ved afkrydsningsfelt på "Jeg accepterer"-knappen inden din brug af Tjenesterne.</p>
        <p>Fordi dit privatliv er vigtigt for os, indeholder disse brugerbetingelser også henvisninger til vores privatlivspolitik og cookiepolitik, der forklarer, hvordan vi indsamler og bruger dit indhold og dine oplysninger.</p>
        <p>Disse brugerbetingelser er gældende fra 11/04/2025.</p>

        <h2>2. UDBYDER</h2>
        <p>Wishify ApS, Guldbergsgade 29N, CVR: 420 1337, E-mail: info@wishify.dk.</p>
        <p>Herefter benævnt ”Wishify”, ”vi”, ”os” eller ”vores”.</p>

        <h2>3. BETINGELSER FOR OPRETTELSE AF BRUGER OG BRUG AF TJENESTERNE</h2>
        <p>Når du opretter en bruger hos Wishify, og efterfølgende bruger Tjenesterne, accepterer du, at der fremvises markedsføring på Tjenesterne. Markedsføringen kan indeholde:</p>

            <p>Markedsføring af Wishify samt Wishifys tjenester, f.eks. gode tilbud fra Wishify eller nye tjenester, der tilbydes af Wishify, eller</p>
            <p>Markedsføring af Wishifys samarbejdspartnere og de af deres produkter, tjenesteydelser mv., som du har anført på din ønskeseddel.</p>

        <h2>4. KORREKT BRUG</h2>
        <p>Når du benytter Tjenesterne, er du forpligtet til at afgive korrekte oplysninger om dig selv og til kun at anvende Tjenesterne til privat, ikke-kommerciel brug.</p>
        <p>Ved at benytte Tjenesterne erklærer du, at de oplysninger, du har afgivet, er korrekte.</p>
        <p>Dine loginoplysninger er personlige og må ikke deles med andre. Hvis du har mistanke om, at en anden har brugt dine loginoplysninger, skal du hurtigt ændre loginoplysningerne (især adgangskoden) og underrette Wishify.</p>

        <h2>5. RETTIGHEDER</h2>
        <p>De immaterielle rettigheder og markedsføringsrettigheder til Tjenesterne og tilknyttede systemer/software og materiale i Tjenesterne tilhører Wishify ApS (eller tredjepart). Du påtager dig derfor det fulde ansvar for enhver eventuel krænkelse af sådanne rettigheder fra din konto og/eller profil.</p>

        <h2>6. ANSVAR</h2>
        <p>Tjenesterne stilles til rådighed, som de er, og anvendes på dit eget initiativ, idet du har ret til, på et hvilket som helst tidspunkt, at fravælge brugen af Tjenesterne.</p>

        <h2>7. KOMMISSION</h2>
        <p>Du er indforstået med, at Wishify i nogle tilfælde kan modtage kommission fra tredjeparter, herunder indholdsudbydere, købmænd, annoncører, sponsorer, tjenesteudbydere og licensgivere, når et klik på et link i din ønskeseddel i Wishify giver anledning til et køb hos sådanne tredjeparter.</p>

        <h2>8. IKKE-KOMMERCIEL BRUG</h2>
        <p>Tjenesterne er kun til dit personlige brug og må ikke bruges i forbindelse med kommercielle bestræbelser, bortset fra dem, der specifikt er godkendt eller godkendt af Wishify.</p>

        <h2>9. ALDER AF BRUGERE</h2>
        <p>Tjenesterne er ikke beregnet til brug for børn under 13 år uden forældres forudgående samtykke. Hvis du er forælder til et barn under 13 år, og du mener, at dit barn har afgivet sine personoplysninger, selv om dette ikke er godkendt af dig som forælder, anmodes du straks om at kontakte os på e-mail: kontakt@wishify.dk, og vi vil slette oplysningerne fra vores system.</p>

        <h2>10. LINKS</h2>
        <p>Tjenesterne indeholder links til websteder, der drives af tredjeparter. Vi overvåger og kontrollerer ikke de linkede sider og fremsætter ingen repræsentationer vedrørende og er ikke ansvarlige for nøjagtigheden, fuldstændigheden, aktualiteten, pålideligheden eller tilgængeligheden af noget af det indhold, der er uploadet, vist eller distribueret, eller produkter eller tjenester tilgængelige på disse steder.</p>

        <h2>11. TREDJEPARTS-SIDER</h2>
        <p>Platformen muliggør, at du kan bestille og modtage produkter, information og tjenester fra virksomheder, der ikke ejes eller drives af os. Køb, betaling, garanti, levering, vedligeholdelse og alle andre forhold, der vedrører merchandise, tjenester eller information, udtalelse eller rådgivning bestilt eller modtaget fra sådanne forretninger, er udelukkende mellem dig og sådanne virksomheder.</p>

        <h2>12. PERSONOPLYSNINGER</h2>
        <p>Du kan finde information om behandling af dine personoplysninger i forbindelse med Wishify og dine rettigheder i henhold til gældende love om databeskyttelse i Wishifys til enhver tid gældende privatlivspolitik.</p>

        <h2>13. ÆNDRINGER</h2>
        <p>Wishify kan foretage ændringer i brugerbetingelserne, hvis relevant. Ikke-væsentlige ændringer, der er til din ulempe, varsles per e-mail senest en måned før ikrafttrædelsen.</p>

        <h2>14. SKADESLØSHOLDELSE</h2>
        <p>Skulle Wishify blive mødt med erstatningskrav fra tredjepart, der skyldes eller opstår som følge af din brug af Tjenesterne i strid med disse brugerbetingelser og/eller som følge af brud på disse brugerbetingelser, skadesløsholder du Wishify for alle lidte tab og krav.</p>

        <h2>15. DIVERSE</h2>
        <p>Disse brugerbetingelser og din bekræftelse udgør hele aftalen mellem Wishify og dig om brugen af Wishify samt Tjenesterne. Afsnitstitlerne i disse brugerbetingelser har ingen selvstændig juridisk eller kontraktmæssig virkning.</p>

        <h2>16. GÆLDENDE LOV</h2>
        <p>Disse brugerbetingelser er underlagt dansk ret. Eventuelle tvister skal afgøres ved de danske domstole.</p>
    </div>
</div>

<div th:replace="~{fragments.html :: footer}"></div>
</body>
</html>
